.form {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;

  &__inpit {
    width: 100%;
    display: flex;
    border: 1px solid var(--yellow);
    border-radius: 8px;
    margin: 15px 0;
    padding: 10px 10px;
  }

  input {
    border: none;
    outline: none;
    vertical-align: middle;
    background-color: transparent;
    color: var(--yellow);

    &[type='submit'] {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      cursor: pointer;
      background: url('../../public/icons/circle-plus.svg') no-repeat center;
    }
    &[type='text'] {
      width: 100%;
    }
  }
}
