.header {
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    column-gap: 20px;
    width: 100%;

    li {
      display: flex;
      column-gap: 5px;
      cursor: pointer;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
