.header {
  border-bottom: 1px solid darkcyan;
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    column-gap: 20px;

    li {
      cursor: pointer;
    }
  }

  &__categories {
    li {
      display: flex;
      column-gap: 5px;
    }
  }

  .react-icons {
    vertical-align: middle;
    color: white;
    font-size: 1.3em;
  }
}
